h1 {
  font-size: 3vwborder: 2px solid black;
}


body {
  background-color: #f58c8f
}

header {
  background-color: #73a5f5;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
  border-style:dotted;
}

h1 {
  font-family: 'Poppins', sans-serif;
  background-color: inherit;
  font-size: 3em;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

main>h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.75em;
  width: max-content;
  padding: 30px;
  margin: auto;
  margin-bottom: 10px;
}

section {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

article {
  border: 5px double #020005;
  background-color: #75abe9;
  padding: 30px;
  margin-top: 30px;
}

article h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.75em;
  padding-bottom: 10px;
  text-decoration: underline;
}

p {
  font-size: 1.25em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
}

ul {
  font-size: 1.75em;
  font-family: 'Archivo', sans-serif;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 15px;
}

li {
  font-family: 'Archivo', sans-serif;
  font-size: .75em;
  margin-top: 15px;

}

img {
  margin-bottom: 30px;
}

table * {
  font-family: 'Archivo', sans-serif;
  font-size: 20px; 
  background-color: #bdcddc;
  border: 1px double #020005;
  padding: 8px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

#sale-table {
  margin-left: auto;
  margin-right: auto;
}

th {
  font-weight:900;
}

td {
  text-align: center;
}


footer {
  font-family: 'Archivo', sans-serif;
  font-size: 1.5em;
  padding: top 15px;
  vertical-align: middle;
  text-align: left;
  padding-right: 10px;
  height: 60px;
  background-color: #797d80;
  margin-top: 20px;
}