body {
  background-color: #f9a4a7
}

header section {
  background-color: #73a5f5;
  height: 100px;
  margin: 0px;
  padding: 0px;
  border: 5px solid black;
  border-style:dotted;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  width:auto
}
header section h1 {
  font-size: 50px;
  margin-top: 20px;
  font-weight: bold;
}

header nav ul { 
display: inline-block;
padding: 15px;
list-style-type: none;
text-align: left;
font-size: 30px;
color: black;
margin-top: 0px;
margin-bottom: 50px;
font-family: 'Work Sans', sans-serif;
font-weight: bold;
}

#About img{
  border:5px solid black;
  border-style: dotted;
}

#About h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-style: dotted;
  background-color:hsl(155, 39%, 59%);
  padding: 10px;
}

#About p {
  padding-left: 50px;
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  font-weight: bold;
}

#Locations h1{
font-family: 'Work Sans', sans-serif;
font-size: 40px;
font-weight: bold;
text-align: left;
padding-top: 10px;
margin-bottom: 10px;
border: 2px solid black;
border-style: dotted;
background-color: hsl(155, 39%, 59%);
padding: 10px;

}

#Locations ul {
  font-size: 1.75em;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  background-color: antiquewhite; 
  border: 5px solid black;
  border-style: dotted;
  list-style-type: disc;
  list-style-position:inside;
  padding: 20px;
  margin: 30px; 
  display: inline-block;
}

#Hours p{
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 100px;
  border: 2px solid black;
  border-style: dotted;
  background-color: hsl(155, 39%, 59%);
  padding: 10px;
}
main h1 {
  margin: 50px; 
  display: inline-block;
}

#Shirt p {
  margin: 50px;
}

section {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


footer {
  font-family: 'Work Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding: top 15px;
  text-align: left;
  padding-right: 10px;
  height: 75px;
  background-color: #797d80;
  margin-top: 20px;
  text-align:left;
  float: left;
  width:auto;
  height: auto;
}

#Contact {
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align:left;
}

#Socials {
  text-align: left;
  padding: 0px;
  margin: 0px;
}




